<!DOCTYPE html>
<html>
  <head>
    <title>Olimpi-Colombia</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="description" content="Olimpi-Colombia">
    <meta name="keywords" content="Olimpi-Colombia">
    <link rel="icon" href="./WebContent/app/commons/img/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div ng-view=""></div>
  </body>
  <script src="https://olimpicolombia.s3.amazonaws.com/dist/olimpicolombia.app.131991b968c6ff2e8baf.js"></script>
</html>