{% extends 'base.html' %}

{% block main %}
<div class="container athlete-list">
    <p  class="centered-container">
        <strong>CALENDARIO DE COMPETICIONES</strong>
    </p>
    {% if schedules %}
        {% for schedule in schedules %}
            <div class="row">
                <div class="col-sm-12 centered-container">
                    <p><strong>Fecha/Hora: </strong>{{ schedule.datetime }} </p>
                    <p><strong>Modalidad: </strong>{{ schedule.modality }}</p>
                    <p><strong>Deporte: </strong>{{ schedule.sport }}</p>
                    <p><strong>Atleta: </strong>{{ schedule.athlete }}</p>
                    <p><strong>Estado: </strong>{{ schedule.state }}</p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="row">
            <div class="col-sm-12 centered-container">
                <span>Calendario no disponible</span>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
